<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<servlet>
		<servlet-name>PersonServlet</servlet-name>
		<servlet-class>com.psybergate.vacwork202006.web.servlet.PersonSevlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>TaxcalculatorServlet</servlet-name>
		<servlet-class>com.psybergate.vacwork202006.web.servlet.TaxCalculatorServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>PersonSevlet</servlet-name>
		<url-pattern>/person/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaxcalculatorServlet</servlet-name>
		<url-pattern>/taxcalc/*</url-pattern>
	</servlet-mapping>
</web-app>